body {
    background: url(/static/img/background.png) repeat 0 0;
    margin-bottom: 60px;
}

header {
    background-color:black;
    padding:5px;
    height: 35px;
}

.footer
{
	background-color: black;
	bottom: 0;
	height: 60px;
	position: absolute;
	width: 100%;
}

html
{
	min-height: 100%;
	position: relative;
}