<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/custom.css">
    <!--CSS for Closing Panel Effect-->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="/static/word_retriever.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <title>Scrabble Word Finder</title>
</head>
<body>
    <header></header>
    <div class="container panel text-center" style="padding:1%;margin-top:2%;width:65%;">
        <img src="static/img/dragon.png" class="img-responsive" style="width:100px;height:100px;float:left;">
        <img src="static/img/dragon.png" class="img-responsive" style="width:100px;height:100px;float:right;">
        <h1 style="color:black;">Scrabble Word Finder</h1>
        <input type="text" id="letters" placeholder="What are your letters?">
        <button type="button" class="btn btn-default">Get Words!</button>

    </div>
    <div class="container text-center">


        <div id="word-panels"></div>
    </div>
    <footer class="footer text-center">
        <h4>Created by <a href="http://adrielklein.com">Adriel Klein</a></h4>
    </footer>
</body>
</html>