<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/custom.css">
    <script src="/static/word_retriever.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <title>Scrabble Word Finder</title>
</head>
<body>
<header></header>
<div class="text-center">
    <h1>Scrabble Word Finder</h1>
    <input type="text" id="word" value="">
    <button onclick="showWords()">Get Words</button>

    <p id="message"></p>
    <p id="list-of-words" class="list-of-words"></p>
</div>
<footer class="footer text-center">
    <h5 class="text-muted">Created by Adriel Klein (<a href="mailto:adrielmklein@gmail.com" target="_top">adrielmklein@gmail.com</a>).
    </h5>
</footer>
</body>
</html>